@charset "utf-8";
/* CSS Document */

/*==================导航栏==================*/
body {
    padding-top: 51px;
}

.header_nav {
    padding-top: 0;
    height: 40px;
    /*overflow: hidden;*/
}

nav {
    color: purple;
}

.navCollectionIcon {
    color: orange;
}

#help_select .dropdown-toggle:hover .dropdown-menu {
    display: block;
}

.shopping_style {
    padding: 5px;
    overflow: hidden;
    text-align: right;
    background: #F5F5F5;
}

.Shopping {
    float: right;
    height: 29px;
    padding: 0 10px;
    background: #E4393C;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    line-height: 29px;
    border-radius: 3px;
}

.Operations {
    float: right;
    text-align: right
}

.img {
    text-align: center;
    margin-right: 10px;
    float: left;
}

.content {
    float: left;
    color: #999999
}

.Price {
    color: #FF0000
}

.img img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.p-total {
    float: left;
    line-height: 29px;
}

.mobile_QR_code img {
    display: none;
}

.mobile_QR_code:hover img {
    display: block;
}
/*===============导航栏================*/


/*===============关于我们================*/
.footer_nav {
    padding-top: 20px;
}
/*===============关于我们================*/

/*===============登录================*/
/*.login_content {*/
/*width: 1015px;*/
/*margin: 0 auto;*/
/*}*/
/*body{*/
/*background: url("../images/login_body_bg_1.jpg");*/
/*background-size: 100%;*/
/*opacity: 90%;*/
/*}*/

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 750px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.login_form {
    float: right;
    background: #fff;
    width: 425px;
    border: 1px solid #e5e5e5;
    margin: 50px 30px 50px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 15px 35px 35px;
    position: relative;
}

.login_form input:not([type="checkbox"]) {
    /*width: 280px;*/
    /*height: 34px;*/
    /*line-height: 34px;*/
    /*color: #434343;*/
    /*padding-left: 35px;*/
    /*position: relative;*/
}

.login_form .form-group {
    /*min-height: 68px;*/
    /*position: relative;*/
}

.form-group .action_success {
    color: forestgreen;
}

.login_form .action_error {
    color: crimson;
}

.login_form .a {
    color: #fff;
    font-size: 16px;
    line-height: 46px;
}

#loginBtn {
    height: 46px;
}

.login_form .fast_login h3, .login_form .fast_login h4 {
    /*color: #fff;*/
    /*font-size: 16px;*/
    /*line-height: 46px;*/
}

.login_form .checkbox > span:last-of-type {
    color: orange;
    float: right;
}

.login_form .fast_login {
    margin-top: 15px;
    line-height: 46px;
}

.fast_login .fast_way a {
    float: left;
    width: 100px;
    height: 35px;
    background: url(../images/login_fast.png) no-repeat 0 0;
}

.fast_login .fast_way a.sina_way {
    background-position: 0 -40px;
    margin-left: 5px;
    margin-right: 5px;
}

.fast_login .fast_way a.weixin_way {
    background-position: 0 -80px;
    margin-right: 10px;
}
/*===============登录================*/


/*===============首页================*/
/*===============首页================*/

/*===============注册================*/
.reg_form {
    width: 700px;
    margin: 50px auto 0;
}
/*===============注册================*/

/*===============购物车================*/
/*===============购物车====================*/

/*===============地址====================*/
.contB {
    float: right;
    width: 850px;
    padding-bottom: 20px;
}

.contB .my-cont {
    border-bottom: solid 1px #ede7e1;
    margin-bottom: 15px;
}

.contB .cont-tit {
    height: 37px;
    border-bottom: solid 1px #ede7e1;
    margin-bottom: 15px;
}

.contB .cont-tit h2 {
    float: left;
    font: 18px/28px '微软雅黑';
    color: #666;
    padding: 0 10px 4px 10px;
    height: 32px;
    border-bottom: solid 2px #4DA703;
}

.my-cont .order-status {
    float: left;
    width: 850px;
    line-height: 22px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.sh_address_box {
    float: left;
}

.sh_address_box .s_tag {
    width: 10%;
}
.sh_address_box .s_name {
    width: 15%;
}

.sh_address_box .s_addr {
    width: 35%;
}

.sh_address_box .s_tel {
    width: 15%;
}

.sh_address_box .s_postal {
    width: 10%;
}

.sh_address_box .s_opt {
    width: 15%;
}

.modify_ico, .delete_ico {
    padding-left: 16px;
    background: url(../images/save_ico.png) no-repeat 0 2px;
}

.sh_address_box .modify_ico {
    background-image: url(../images/editor_ico.png);
}

.sh_address_box .delete_ico {
    background-image: url(../images/delete_ico.png);
}

/*.add_btn {*/
    /*padding: 0 8px 0 21px;*/
    /*height: 24px;*/
    /*border: 1px solid #e2deda;*/
    /*border-radius: 3px;*/
    /*cursor: pointer;*/
    /*margin-right: 10px;*/
    /*line-height: 24px;*/
/*}*/

/*a.add_btn {*/
    /*display: inline-block;*/
    /*color: #000;*/
    /*font-weight: normal;*/
    /*height: 22px;*/
    /*line-height: 22px;*/
    /*text-align: center;*/
/*}*/

.sh_address_box .address_add {
    margin: 15px 0 5px;
    padding-left: 10px;
}

/*.sh_address_box .add_btn {*/
    /*background: url(../images/big_add.png) no-repeat 0 0;*/
/*}*/

.yy_address tbody td {
    border: solid 1px #efefef;
    padding: 10px;
}

.yy_address .infro_td {
    text-align: left;
}

.yy_address .tb_news {
    border: 1px solid #e8e8e8;
}

.news_addr {
    float: left;
    margin-top: 10px;
}

.sh_address_box h2.name_addr {
    float: left;
    font-size: 16px;
    overflow: hidden;
    font-weight: 700;
    font-family: Arial, 'Microsoft Yahei', '\5FAE\8F6F\96C5\9ED1', serif;
}

.name_addr .addAddress, .modifyAddress {
    float: left;
    height: 38px;
    width: 838px;
    background: #F9F9F9;
    border: 1px solid #EFEFEF;
    font: 16px/38px '微软雅黑';
    padding-left: 10px;
}

.cancel_btn {
    color: #4DA703;
    font-size: 13px;
}

.news_addr .o_layout {
    float: left;
    margin-top: 20px;
}
/*===============地址================*/