<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../../../plug-in/bootstrap-3.4.0-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../../plug-in/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="../../../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../../plug-in/bootstrap-3.4.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../../js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
</head>
<body>
<!--引入顶部导航栏start-->
<script type="text/javascript">
    $("body").append($("<header id='header_navbar'></header>").load("header_navbar.html"));
</script>
<!--引入顶部导航栏end-->

<div class="container">
    <div id="carousel_box" class="carousel slide" data-ride="carousel" data-interval="4000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel_box" data-slide-to="0" class="active"></li>
            <li data-target="#carousel_box" data-slide-to="1"></li>
            <li data-target="#carousel_box" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="javascript:;">
                    <img src="../../../images/slide_img1.jpg" height="357"/>
                </a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <a href="javascript:;">
                    <img src="../../../images/slide_img1.jpg"/>
                </a>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <a href="javascript:;">
                    <img src="../../../images/slide_img1.jpg"/>
                </a>
                <div class="carousel-caption">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel_box" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel_box" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>

<div class="container">
    <div class="row">
        <span style="font-size: 30px;padding-left:33px;">
            热门商品   <img src="../../../images/login_bg_1.jpg" height="30" width="80%">
        </span>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2 hidden-xs hidden-sm" style="height: 400px;">
            <img src="../../../images/login_bg_1.jpg" height="100%" width="100%">
        </div>
        <div class="col-md-10 col-sm-10" style="padding-left: 10px;">
            <div class="row">
                <div class="col-md-6 hidden-xs hidden-sm" style="height:200px;width: 480px;">
                    <div class="thumbnail">
                        <img src="../../../images/bomei_white.jpg" height="100%" width="100%"/>
                        <div class="caption" style="position:absolute;">
                            <h3>博美宠物犬</h3>
                            <p>纯种博美，居家必备！<span class="badger text-danger label-info h2"><b>￥999.00</b></span></p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">收藏</a>
                                <a href="#" class="btn btn-default" role="button">购买</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6" align="center">
                    <div class="thumbnail">
                        <img src="../../../images/bomei_white.jpg"/>
                        <div class="caption">
                            <h3>博美宠物犬</h3>
                            <p>纯种博美，居家必备！<span class="badger text-danger label-info h2"><b>￥999.00</b></span></p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">收藏</a>
                                <a href="#" class="btn btn-default" role="button">购买</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6" align="center">
                    <div class="thumbnail">
                        <img src="../../../images/bomei_white.jpg"/>
                        <div class="caption">
                            <h3>博美宠物犬</h3>
                            <p>纯种博美，居家必备！<span class="badger text-danger label-info h2"><b>￥999.00</b></span></p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">收藏</a>
                                <a href="#" class="btn btn-default" role="button">购买</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6" align="center">
                    <div class="thumbnail">
                        <img src="../../../images/bomei_white.jpg"/>
                        <div class="caption">
                            <h3>博美宠物犬</h3>
                            <p>纯种博美，居家必备！<span class="badger text-danger label-info h2"><b>￥999.00</b></span></p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">收藏</a>
                                <a href="#" class="btn btn-default" role="button">购买</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6" align="center">
                    <div class="thumbnail">
                        <img src="../../../images/bomei_white.jpg"/>
                        <div class="caption">
                            <h3>博美宠物犬</h3>
                            <p>纯种博美，居家必备！<span class="badger text-danger label-info h2"><b>￥999.00</b></span></p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">收藏</a>
                                <a href="#" class="btn btn-default" role="button">购买</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6" align="center">
                    <div class="thumbnail">
                        <img src="../../../images/bomei_white.jpg"/>
                        <div class="caption">
                            <h3>博美宠物犬</h3>
                            <p>纯种博美，居家必备！<span class="badger text-danger label-info h2"><b>￥999.00</b></span></p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">收藏</a>
                                <a href="#" class="btn btn-default" role="button">购买</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6" align="center">
                    <div class="thumbnail">
                        <img src="../../../images/bomei_white.jpg"/>
                        <div class="caption">
                            <h3>博美宠物犬</h3>
                            <p>纯种博美，居家必备！<span class="badger text-danger label-info h2"><b>￥999.00</b></span></p>
                            <p>
                                <a href="#" class="btn btn-primary" role="button">收藏</a>
                                <a href="#" class="btn btn-default" role="button">购买</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--引入底部导航start-->
<script type="text/javascript">
    $("body").append($("<section id='top_navbar'></section>").load("footer_navbar.html"));
</script>
<!--引入底部导航end-->
</body>
</html>