<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../plug-in/bootstrap-3.4.0-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../plug-in/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../plug-in/bootstrap-3.4.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../js/jquery.cookie.js"></script>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/base.css" type="text/css">
</head>
<body>

<!--引入顶部导航栏start-->
<script type="text/javascript">
    $("body").append($("<header id='header_navbar'></header>").load("../header_navbar.do"));
</script>
<!--引入顶部导航栏end-->

<!--登录模块start-->
<section class="container login_content">
    <!--<div class="container"><img src="../images/login_bg_1.jpg" alt="登录首页背景图" style="width:600px;position: absolute;left:70px;top:150px;z-index: -4;"></div>-->
        <!--<h1>Hello,world!</h1>-->
        <!--<p>欢迎来到宠物商城</p>-->
        <!--<button class="btn btn-info" type="button">Message</button>-->
    <div class="container login_form" style="float:right;">
        <form id="loginForm" role="form" class="">
            <span><h4>宠物商城</h4></span>
            <!--用户名输入start-->
            <div class="form-group has-success has-feedback col-sm-12">
                <label for="uname" class="control-label sr-only">用户名</label>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    <input type="text" id="uname" name="username" class="form-control"
                           aria-describedby="uname_tip" placeholder="username"/>
                    <span class="glyphicon glyphicon-ok form-control-feedback action_success sr-only"
                          aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback action_error"
                          aria-hidden="true"></span>
                    <!--<div class=" sr-only"><span>error</span></div>-->
                </div>
                <span id="uname_tip" class="help-block login_tip">(success) </span>
            </div>
            <!--用户名输入end-->

            <!--密码输入start-->
            <div class="form-group col-sm-12 has-feedback">
                <label for="pwd" class="control-label sr-only">密码</label>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-lock"></span>
                    <input type="password" id="pwd" name="password" class="form-control"
                           aria-describedby="pwd_tip" placeholder="Passowrd"/>
                    <span class="glyphicon glyphicon-ok form-control-feedback action_success" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove  form-control-feedback action_error sr-only"
                          aria-hidden="true"></span>
                    <span id="pwd_tip" class="sr-only login_tip">(success) </span>
                </div>
                <div class="help-block"><span>error</span></div>
            </div>
            <!--密码输入end-->

            <!--记住密码、忘记密码、免费注册-->
            <div class="form-group checkbox col-sm-12">
                <span>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="autoLogin"> 记住密码
                    </label>
                </span>
                <span>
                    <a href="#" class="login_target" onclick="alert('该模块暂未完善！');">忘记密码</a>
                    <span>&nbsp;|&nbsp;</span><a href="reg.html" class="login_target">免费注册</a>
                </span>
            </div>
            <!--记住密码、忘记密码、免费注册-->

            <!--登录按钮-->
            <button type="button" class="btn btn-primary btn-lg btn-block" id="loginBtn">
                <i class="fa fa-spinner fa-pulse sr-only"></i>
                <span>登录</span>
            </button>
            <!--登录按钮-->

            <!--快捷登录-->
            <div class="fast_login col-sm-12">
                <span>合作网站账户登录</span>
                <div class="fast_way">
                    <a class="qq_way"></a>
                    <a class="sina_way"></a>
                    <a class="weixin_way"></a>
                </div>
                <div class="more_way_wrap">
                    <a>更多登录方式&gt;&gt;</a>
                </div>
            </div>
            <!--快捷登录-->
        </form>
    </div>
</section>
<script type="text/javascript" src="../js/login.js"></script>
<!--登录模块end-->


<!--引入底部导航start-->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">

        <div id="navbar" class="collapse navbar-collapse">
            <div class="col-md-10">
                <ul class="col-md-3">
                    <li><span class=""></span>购物指南</li>
                    <li><a href="javascript:;">购物流程</a></li>
                    <li><a href="javascript:;">会员介绍</a></li>
                    <li><a href="javascript:;">团购/活动</a></li>
                    <li><a href="javascript:;">宠物护理</a></li>
                    <li><a href="javascript:;">常见问题</a></li>
                    <li><a href="javascript:;">联系客服</a></li>
                </ul>
                <ul class="col-md-3">
                    <li><span class=""></span>配送方式</li>
                    <li><a href="javascript:;">上门自提</a></li>
                    <li><a href="javascript:;">211限时达</a></li>
                    <li><a href="javascript:;">配送服务查询</a></li>
                    <li><a href="javascript:;">配送费收取标准</a></li>
                    <li><a href="javascript:;">海外配送</a></li>
                </ul>
                <ul class="col-md-3">
                    <li><span class=""></span>支付方式</li>
                    <li><a href="javascript:;">货到付款</a></li>
                    <li><a href="javascript:;">在线支付</a></li>
                    <li><a href="javascript:;">分期付款</a></li>
                    <li><a href="javascript:;">银行汇款</a></li>
                    <li><a href="javascript:;">公司转账</a></li>
                </ul>
                <ul class="col-md-3">
                    <li><span class=""></span>售后服务</li>
                    <li><a href="javascript:;">售后说明</a></li>
                    <li><a href="javascript:;">价格保护</a></li>
                    <li><a href="javascript:;">退款说明</a></li>
                    <li><a href="javascript:;">退换规则</a></li>
                    <li><a href="javascript:;">取消订单</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li>关注我们</li>
                    <li>
                        <div>
                            <a href="javascript:;">
                                <img src="../images/QR_code.png" class="img-responsive" width="234" height="233" alt="">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="nav navbar-nav col-md-12" style="text-align:center;">
            <span href="javascript:;">关于我们</span>|
            <span href="javascript:;">联系我们</span>|
            <span href="javascript:;">友情链接</span>|
            <span href="javascript:;">免责条款</span>|
            <span href="javascript:;">广告服务</span>|
            <span href="javascript:;">商品流通许可证</span>|
            <span href="javascript:;">营业执照</span>
        </div>
        <div>
            <p class="nav navbar-nav col-md-12" style="text-align:center;"> Copyright © 2014-2019 5RICE.宠吾网 版权所有
                鄂ICP备11002788号 保留一切权利。
                客服热线：400-400-6666 </p>
            <p class="nav navbar-nav col-md-12" style="text-align:center;"> 鄂公网安备 110105001608 | 鄂ICP证111033号 |
                商品流通许可证 SP1101051110165515（1-1） | 营业执照 </p>
            <p class="nav navbar-nav col-md-12" style="text-align:center;">
                <a href="javascript:;">
                    <img src="../images/footerbomX.gif" width="108" height="40">
                </a>
                <a href="javascript:;">
                    <img src="../images/footerbomC.png" width="112" height="40">
                </a>
            </p>
        </div>
    </div>
    </div>

    </div>
</nav>
<!--引入底部导航end-->
</body>
</html>