<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../plug-in/bootstrap-3.4.0-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../../plug-in/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <script type="text/javascript" src="../../../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../../js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../../plug-in/bootstrap-3.4.0-dist/js/bootstrap.min.js"></script>
    <style>
        body {
            padding-top: 70px;
        }

        h4{
            margin:40px 0 10px;

        }
        .nav-tabs{
            margin-bottom:15px;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="70">
<!--<div class="container">-->
    <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">-->
        <!--<div class="container-fluid">-->
            <!--<div class="navbar-herder">-->
                <!--<button class="navbar-toggle collapse" type="button" data-toggle="collapse"-->
                        <!--data-target=".js-navbar-scrollspy"></button>-->
                <!--<a href="#" class="navbar-brand">project name</a>-->
                <!--<div class="collapse navbar-collapse js-navbar-scrollspy">-->
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li class=""><a href="#jason">@jason</a></li>-->
                        <!--<li class=""><a href="#jerry">@jerry</a></li>-->
                        <!--<li class="">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<b-->
                                    <!--class="caret"></b></a>-->
                            <!--<ul class="dropdown-menu" role="menu">-->
                                <!--<li><a href="#one" tabindex= "-1">one</a></li>-->
                                <!--<li><a href="#two" tabindex="-1">two</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->
    <!--<h2 id="jason">jason</h2>-->
    <!--<p>-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
    <!--</p>-->
    <!--<h2 id="jerry">jerry</h2>-->
    <!--<p>-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
    <!--</p>-->
    <!--<h2 id="one">one</h2>-->
    <!--<p>-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
    <!--</p>-->
    <!--<h2 id="two">two</h2>-->
    <!--<p>-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
        <!--啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊-->
    <!--</p>-->
<!--</div>-->
<div class="container">
    <h4>Tabs</h4>
    <ul id="mytab" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">home</a></li>
        <li><a href="#myhome" data-toggle="tab">MyHome</a></li>
        <li class="dropdown">
            <a href="#" id="myTabdrop1" class="dropdown-toggle" data-toggle="dropdown">dropedown<b class="caret"></b></a>
            <ul class="dropmenu" role="menu" aria-labelledby="myTabdrop1">
                <li><a href="#" tabindex="-1" data-toggle="tab">@fat</a> </li>
                <li><a href="#" tabindex="-1" data-toggle="tab">@mit</a> </li>
                <li><a href="#" tabindex="-1" data-toggle="tab">@do</a> </li>
            </ul>

        </li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <p>
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
            </p>
        </div>
        <div class="tab-pane active" id="myhome">
            <p>
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
            </p>
        </div>
        <div class="tab-pane active" id="fat">
            <p>
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
                宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城宠物商城
            </p>
        </div>
    </div>
</div>
</body>
</html>