<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pager-test</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../plug-in/bootstrap-3.4.0-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../../plug-in/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <script type="text/javascript" src="../../../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../../js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="../../../js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../../plug-in/bootstrap-3.4.0-dist/js/bootstrap.min.js"></script>
<style>
    body{
        padding-top:70px;
    }
</style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="70">
<nav>
    <ul class="pagination pagination-lg">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        <li class="disabled"><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
</nav>
<nav>
    <ul class="pagination pagination-lg">
        <li class="disabled" aria-label="previous"><a href="javascript:;">首页</a></li>
        <li><a href="javascript:;">&laquo;</a></li>
        <li><a href="javascript:;"><span class="fa fa-address-book-o"></span></a></li>
        <li><a href="javascript:;">1</a></li>
        <li><a href="javascript:;">2</a></li>
        <li><a href="javascript:;">3</a></li>
        <li><a href="javascript:;">4</a></li>
        <li><a href="javascript:;">5</a></li>
        <li aria-label="next"><a href="javascript:;">&raquo;</a></li>
        <li><a href="javascript:;">尾页</a></li>
    </ul>
    <!--<ul class="pager label-success">-->
    <!--<li class="disabled"><a href="javascript:;">首页</a></li>-->
    <!--<li><a href="javascript:;">&laquo;</a></li>-->
    <!--<li><a href="javascript:;">1</a></li>-->
    <!--<li><a href="javascript:;">2</a></li>-->
    <!--<li><a href="javascript:;">3</a></li>-->
    <!--<li><a href="javascript:;">4</a></li>-->
    <!--<li><a href="javascript:;">5</a></li>-->
    <!--<li><a href="javascript:;">&raquo;</a></li>-->
    <!--<li><a href="javascript:;">尾页</a></li>-->
    <!--</ul>-->
    <!--<ul class="pager label-danger">-->
    <!--<li class="previous disabled"><a href="javascript:;">首页</a></li>-->
    <!--<li class="previous"><a href="javascript:;">&laquo;</a></li>-->
    <!--<li><a href="javascript:;">1</a></li>-->
    <!--<li><a href="javascript:;">2</a></li>-->
    <!--<li><a href="javascript:;">3</a></li>-->
    <!--<li><a href="javascript:;">4</a></li>-->
    <!--<li><a href="javascript:;">5</a></li>-->
    <!--<li><a href="javascript:;">&raquo;</a></li>-->
    <!--<li class="next"><a href="javascript:;">尾页</a></li>-->
    <!--</ul>-->
    <!--购物车数量-->
    <div class="container">
        <a href="javascript:;"><span class="badge">购物车100</span></a>
        <button type="button" class="btn btn-success">购物车<span class="badge">100</span></button>
    </div>


    <ul class="nav nav-pills" role="rablist">
        <li role="presentation"><a hrefo="#">Home<span class="badge">10</span></a></li>
        <li role="presentation"><a href="#">Profile<span class="badge progress-bar-danger">100</span></a></li>
        <li role="presentation"><a href="#">Message<span class="badge">5</span></a></li>
    </ul>

    <!--巨幕-->
    <div class="container">
        <div class="jumbotron">
            <h1>Hello,world!</h1>
            <p>欢迎来到宠物商城</p>
            <button class="btn btn-info" type="button">Message</button>
        </div>
    </div>

    <!--页头-->
    <div class="page-header container">
        <h1>宠物商城
            <small>欢迎您</small>
        </h1>
    </div>

    <div class="row container">
        <div class="row-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="../../../images/alasijia_black&white1.jpg">
            </a>
        </div>
    </div>

</nav>

<!--商品展示-->
<div class="row">
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="../../../images/bomei_white.jpg"/>
            <div class="caption">
                <h3>博美宠物犬</h3>
                <p>纯种博美，居家必备！<span class="badger text-danger label-info h2"><b>￥999.00</b></span></p>
                <p><a href="#" class="btn btn-primary" role="button">收藏</a><a href="#" class="btn btn-default"
                                                                              role="button">购买</a></a></p>
            </div>
        </div>
    </div>
</div>

<!--可关闭警告框-->
<div class="container">
    <div class="alert alert-danger col-md-2" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-disabled="true">&times;</span>
        </button>
        <span class="text-danger">密码错误！</span>
    </div>

    <div class="alert alert-success" role="alert">密码验证
        <a href="http://www.jikexueyuan.com" class="alert-link">
            <span>成功</span>
        </a>
    </div>
</div>
<!--进度条-->
<div class="container">
    <div class="progress">
        <div class=" progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" aria-valuemin="0"
             aria-valuemax="100" style="width:30%;"></div>
        <div class=" progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuemin="0"
             aria-valuemax="100" style="width:10%;"></div>
        <span class="">30%</span>
    </div>
</div>


<!--列表组-->
<div class="container col-md-2 col-md-offset-5">
    <ul class="list-group">
        <li class="list-group-item"><span class="badge">10</span>123</li>
        <li class="list-group-item"><span class="badge">10</span>123</li>
        <li class="list-group-item"><span class="badge">10</span>123</li>
        <li class="list-group-item"><span class="badge">10</span>123</li>
    </ul>

    <ul class="list-group">
        <h3  href="#" class="list-group-item-heading active">1123412</h3>
        <li  href="#" class="list-group-item">1123412</li>
        <li  href="#" class="list-group-item">1123412</li>
        <button  href="#" class="list-group-item disabled" disabled="disabled">1123412</button>
    </ul>
</div>

<!--滚动监听-->
<div class="container">

</div>
</body>
</html>